name: TFLint
on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  tflint:
    name: TFLint Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: latest
          cache: true
      - name: Show TFLint version
        run: tflint --version
      - name: Init TFLint
        run: tflint --init
        env:
          # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Run TFLint
        run: tflint -f compact
